* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 2em 0;
  color: #3c2e1f;
  font-size: 50px;
}

.Suchoptionen {
  display: flex;
  justify-content: space-between;
  margin: 0 30em;
}

#SearchArticle {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #3c2e1f;
  padding: 10px;
  margin-right: 1em;
  font-size: 14px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

#Language {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #3c2e1f;
  padding: 10px;
  margin-right: 1em;
  font-size: 14px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

#SearchBtn {
  background-color: #3c2e1f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#SearchBtn:hover,
#SearchBtn:focus {
  background-color: #44403b;
}
